SourceCode/Library/
SourceCode/Logs/
SourceCode/Obj/
SourceCode/Packages/
SourceCode/Temp/
SourceCode/UnityGenerated/
SourceCode/UserSettings/

SourceCode/Assets/AssetStoreTools*
SourceCode/MemoryCaptures/
SourceCode/Recordings/
SourceCode/.vs/
SourceCode/Assembly-CSharp.csproj

SourceCode/Assets/StreamingAssets/aa.meta
SourceCode/Assets/StreamingAssets/aa/*