"Source Code/Library/"
"Source Code/Logs/"
"Source Code/Obj/"
"Source Code/Packages/"
"Source Code/Temp/"
"Source Code/UnityGenerated/"
"Source Code/UserSettings/"

"Source Code/Assets/AssetStoreTools*"
"Source Code/MemoryCaptures/"
"Source Code/Recordings/"
"Source Code/.vs/"
"Source Code/Assembly-CSharp.csproj"

"Source CodeAssets/StreamingAssets/aa.meta"
"Source Code/Assets/StreamingAssets/aa/*"