PlantGame/Library/
PlantGame/Logs/
PlantGame/Obj/
PlantGame/Packages/
PlantGame/Temp/
PlantGame/UnityGenerated/
PlantGame/UserSettings/

PlantGame/Assets/AssetStoreTools*
PlantGame/MemoryCaptures/
PlantGame/Recordings/
PlantGame/.vs/
PlantGame/Assembly-CSharp.csproj

PlantGame/Assets/StreamingAssets/aa.meta
PlantGame/Assets/StreamingAssets/aa/*